.navbar {
  background-color: #3367d6;
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.searchBox {
  background-color: #2850a7;
  margin: auto;
  width: 480px;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #6697ff;
  border-radius: 5px;
}

.searchBox input {
  background-color: transparent;
  color: #ffffff;
  border: 0;
  outline: none;
  width: 480px;
  height: 40px;
}

.searchresultscontainer {
  background-color: #ffffff;
}
